@font-face { font-family: Edo; src: url('../fonts/EdoSZ.ttf'); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
  font-family: Edo;
    &:focus{
        outline: none;
    }
}

body {
  background-image: url(../img/bg/paisagem.jpg);
  background-color: rgba(0,0,0, 0.7);
  background-blend-mode: overlay;
  font-size: 25px;
  background-size: cover;
  height: 110vh;
  @media (max-width: 1000px) {
    background-image: url(../img/bg/retrato.jpg);
  }


  main {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    @media (max-width: 1000px){
      width: 95%;
    }

    a {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      height: 4rem;
      width: calc(33% - 20px);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 10px ;
      background-color: rgba(0,0,0, 0.8);
      border-radius: 10px;
      padding: 10px;

        &:hover{
          color: #ee82ee;
        }

        img {
          height: 100%;
          max-width: 3rem;
          margin-right: 20px;
        }

    }

  }

  form {
    display: inline-block;
    height: 6rem;
    width: calc(100% - 20px);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px ;
    background-color: rgba(0,0,0, 0.8);
    border-radius: 10px;
    padding: 10px;

    #imagemInput {
      height: 100%;
      width: 3rem;
      background-color: rgba(0,0,0,0);
      border: none;
      cursor: pointer;

        img {
          height: 3rem;
          width: 100%;
        }

    }

      #linkInput {
        width: 70%;
            #link {
              width: 100%;
              background-color: rgba(0,0,0, 0.8);
              color: #fff;
              border: none;
              padding-left: 10px;
              height: 2rem;
              border-radius: 10px;
              margin-left: 10px;
              margin-bottom: 5px;
            }

            #url {
              width: 100%;
              background-color: rgba(0,0,0, 0.8);
              color: #fff;
              border: none;
              padding-left: 10px;
              height: 2rem;
              border-radius: 10px;
              margin-left: 10px;
            }

    }
        #foto {
          display: none;
        }

        #enviar {
          height: 4rem;
          padding: 10px;
          font-size: 1rem;
          background-color: rgba(0,0,0,0.8);
          color: #fff;
          border: none;
          border-radius: 10px;
          margin-right: 20px;
          cursor: pointer;
            &:hover{

            }
        }
  }

  #player {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px ;
    background-color: rgba(0,0,0, 0.8);
    border-radius: 10px;
    padding: 10px;
    width: 4rem;
    position: absolute;
    left: calc(50% - 2rem);
    right: calc(50% - 2rem);
    cursor: pointer;

      img {
        height: 100%;
        max-width: 3rem;
        margin-right: 20px;
      }

  }

  #muted {
    display: inline-block;
    text-decoration: none;
    height: 4rem;
    display: flex;
    align-items: center;
    margin: 10px ;
    background-color: rgba(0,0,0, 0.8);
    border-radius: 10px;
    padding: 10px;
    color: #999999;
    width: 4rem;
    justify-content: center;
    font-size: 2rem;
    font-family: monospace;
    position: absolute;
    left: calc(50% - 2rem);
    right: calc(50% - 2rem);
    z-index: 999;
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;

      img {
        height: 100%;
        max-width: 3rem;
        margin-right: 20px;
      }
  }

}
