@mixin iconeLink($hoverColor,$ordem,$icon:""){
  display: inline-block;
  color: #fff;
  text-decoration: none;
  height: 4rem;
  width: calc(33% - 20px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px ;
  background-color: rgba(0,0,0, 0.8);
  border-radius: 10px;
  padding: 10px;
  order: $ordem;
    &:hover{
      color: $hoverColor;
    }

    img {
      height: 100%;
      max-width: 3rem;
      margin-right: 20px;
      @if $icon == round {
        border-radius: 50%;
      }
    }
}

@mixin mudarCorTexto($cor1,$cor2,$cor3){
  @keyframes cores {
    0% { color: $cor1; }
    50% { color: $cor2; }
    100% { color: $cor3; }
  }
  animation: cores 1.5s infinite;
}
