
main {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  @media (max-width: 1000px){
    width: 95%;
  }

  #googlesearch {
    @include iconeLink(red,0);
  }

  #youtube {
    @include iconeLink(red,1);
  }

  #youtubemusic {
    @include iconeLink(red,2);
  }

  #nightwaveplaza {
    @include iconeLink(#a7a6ee,3,round);
  }

  #emailpessoal {
    @include iconeLink(#ee82ee,4,round);
  }

  #emailprofissonal {
    @include iconeLink(#8080ff,5,round);
  }

  #googletradutor {
    @include iconeLink(#8080ff,6);
  }

  #fiap {
    @include iconeLink(#ef0557,7,round);
  }

  #outlook {
    @include iconeLink(#2596be,8);
  }

  #azure {
    @include iconeLink(#008ad7,9);
  }

  #springinitializer{
    @include iconeLink(#68bd45,10);
  }

  #htmlcolorpick {
    @include iconeLink(#de0032,11,round);
  }

  #w3schools{
    @include iconeLink(none,12);
    &:hover {
      @include mudarCorTexto(red,green,blue);
    }
  }

  #strobe {
    @include iconeLink(#ef0557,13);
  }

  #theuselessweb {
    @include iconeLink(#f52887,14);
  }

  #pi{
    @include iconeLink(#8080ff,15,round);
    img {
      background-color: white;
    }
  }

  #spotify{
    @include iconeLink(#1ed760,16);
  }

  #soundcloud{
    @include iconeLink(#ff5a01,17);
  }

  #rtings {
    @include iconeLink(red,18,round);
  }

  #github{
    @include iconeLink(#1f6feb,19);
  }

  #reactnative{
    @include iconeLink(#61d9fa,20);
  }

  #jsontojava{
    @include iconeLink(#61d9fa,21);
    &:hover{
        img {
          background-blend-mode: overlay;
          border-radius: 20px;
          background-color: rgba(255,255,255,0.1);
        }
    }

    img {
      max-width: 100%;
    }

  }

}
